[submodule "angry-flappy-bird-crush"]
	path = demo/angry-flappy-bird-crush
	url = https://github.com/robertmaldon/angry-flappy-bird-crush
[submodule "youparty"]
	path = demo/youparty
	url = https://github.com/robertmaldon/youparty
[submodule "demo/my-little-miss-books"]
	path = demo/my-little-miss-books
	url = https://github.com/robertmaldon/my-little-miss-books
