[submodule "angry-flappy-bird-crush"]
	path = demo/angry-flappy-bird-crush
	url = https://github.com/robertmaldon/angry-flappy-bird-crush
[submodule "youparty"]
	path = demo/youparty
	url = https://github.com/robertmaldon/youparty
